# Add your Metamask Private Key (DO NOT COMMIT THIS FILE TO GIT)
PRIVATE_KEY="0000000000000000000000000000000000000000"

# Optional: Get an API URL from alchemy.com or infura.io
TESTNET_RPC_URL="https://rpc2.sepolia.org"
